@charset "UTF-8";
:root {
  --font-family: "Unbounded", sans-serif;
  --font-family-2: "Montserrat", sans-serif;
  --font-size: 18px;
  --font-weight: 500;
  --bg-page: #000;
  --text-color: #fff;
  --main-color: #EE568D;
  --main-color-hover: #da4e81;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  flex: 1 1 100%;
}

/*---------------------------------------------------------------------*/
.title__h1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: clamp(26px, 4vw, 72px);
  text-transform: uppercase;
}

.title__h2 {
  font-family: var(--font-family);
  font-size: clamp(22px, 4vw, 44px);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.button__style {
  padding: 21px 32px;
  border-radius: 12px;
  background: #E3BE63;
  background: linear-gradient(134deg, rgb(227, 190, 99) 0%, rgb(251, 238, 185) 21%, rgb(213, 177, 93) 50%, rgb(248, 233, 178) 76%, rgb(221, 181, 83) 100%);
  color: #000;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  max-width: 540px;
}
.button__style:hover {
  opacity: 0.8;
}

.pink__text {
  color: var(--main-color);
}

.section-padding {
  padding: 6em 0;
}

/*---------------------------------------------------------------------*/
.hero {
  position: relative;
  overflow: hidden;
  padding: 4rem 2rem;
  min-height: 100vh;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  padding: 3em 8em 3em 0;
  z-index: 2;
}

.hero__body {
  display: grid;
  grid-template-columns: 1fr 30%;
}

.hero h2 {
  font-weight: 900;
  font-size: clamp(20px, 2vw, 32px);
  line-height: 100%;
  margin-bottom: 12px;
  text-align: center;
}

.mentor {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  display: inline-block;
  margin-bottom: 12px;
}

.logo {
  width: 286px;
  margin: 2rem 0;
}

.tech {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 12px;
  text-align: center;
}
.tech p {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 12px;
}
.tech .badge {
  background-color: #f24d95;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 900;
  font-size: 32px;
  position: relative;
  margin-bottom: 12px;
  text-align: center;
}
.tech .badge::after {
  content: "";
  position: absolute;
  background: url("../img/gold-coin.png") no-repeat;
  top: -50%;
  width: 157px;
  height: 157px;
}
.tech .badge small {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

blockquote {
  font-family: var(--font-family-2);
  max-width: 700px;
  background: #1e1e1e;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  padding: 24px;
  border-radius: 0.8rem;
  margin: 1.5rem 0;
  border-left: 6px solid #786137;
  border-right: 6px solid #786137;
}

.hero__image {
  position: absolute;
  right: -30em;
  top: -18em;
}

/*============== teaching =============================*/
.teaching {
  position: relative;
}
.teaching::after {
  content: "";
  position: absolute;
  top: 0;
  left: -3em;
  width: 100%;
  height: 100%;
  background: url("../img/spot1.svg") no-repeat;
}

.teaching__body {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.teaching__body .teaching__list {
  margin: 40px auto 0;
  max-width: 1058px;
}
.teaching__body .teaching__list li {
  display: flex;
  align-items: center;
  line-height: 120%;
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: clamp(16px, 2vw, 24px);
  margin-bottom: 24px;
}
.teaching__body .teaching__list li img {
  width: 44px;
  height: 44px;
  margin-right: 12px;
}

/*============== life ==============================*/
.life {
  position: relative;
}
.life::after {
  content: "";
  position: absolute;
  top: 0;
  right: -80%;
  width: 100%;
  height: 100%;
  background: url("../img/spot2.svg") no-repeat;
}

.life__heading {
  max-width: 830px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.life__heading .life__subtext {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 130%;
  margin-top: 40px;
  display: inline-block;
}

.life__body {
  position: relative;
  z-index: 2;
}
.life__body .life__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin-top: 60px;
}
.life__body .life__list li {
  display: flex;
  align-items: center;
}
.life__body .life__list li img {
  width: 44px;
  height: 44px;
  margin-right: 5px;
}
.life__body .life__btn {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

/*============== profession ==============================*/
.profession {
  position: relative;
}
.profession::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100%;
  height: 100%;
  background: url("../img/spot-money.svg") no-repeat;
}
.profession::before {
  content: "";
  position: absolute;
  top: 23em;
  right: -80%;
  width: 100%;
  height: 100%;
  background: url("../img/spot2.svg") no-repeat;
}

.profession__heading {
  text-align: center;
  position: relative;
  z-index: 2;
}
.profession__heading .profession__subtext {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 130%;
  margin-top: 20px;
  display: inline-block;
  max-width: 800px;
}

.profession__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.profession__list {
  max-width: 600px;
  margin-top: 90px;
}
.profession__list li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}
.profession__list li .gold-num {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(110deg, rgb(215, 164, 33) 0%, rgb(247, 228, 153) 21%, rgb(210, 158, 36) 50%, rgb(248, 223, 132) 76%, rgb(211, 160, 31) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 68px;
  margin-right: 10px;
}

.profession__btn {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.profession__btn .profession__btn-text {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: clamp(16px, 4vw, 24px);
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  max-width: 1090px;
  margin-bottom: 32px;
}

.getting__body {
  margin-top: 100px;
}
.getting__body .getting__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: clamp(20px, 4vw, 32px);
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.getting__body .getting__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 44px 0;
}
.getting__body .item__getting {
  border: 4px solid #EE568D;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 132px;
}
.getting__body .item__getting .getting__img img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.getting__body .item__getting .getting__text {
  font-family: var(--font-family-2);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  max-width: 340px;
}
.getting__body .getting__subtext {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}

/*==============  ==============================*/
.whyvolmage {
  position: relative;
}
.whyvolmage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/spot1.svg") no-repeat;
}
.whyvolmage::before {
  content: "";
  position: absolute;
  top: 23em;
  right: -80%;
  width: 100%;
  height: 100%;
  background: url("../img/spot2.svg") no-repeat;
}

.whyvolmage__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 64px 0 150px;
  position: relative;
  z-index: 2;
}
.whyvolmage__list li {
  display: flex;
  align-items: center;
}
.whyvolmage__list li img {
  width: 24px;
  margin-right: 10px;
}
.whyvolmage__list li span {
  font-family: var(--font-family-2);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

.volmage__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 60px;
  position: relative;
  z-index: 2;
}
.volmage__cards .card__volmage {
  background: linear-gradient(180deg, #010101 0%, #1F1F1F 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 12px 20px;
  border-radius: 6px;
}
.volmage__cards .card__volmage img {
  width: 190px;
  transform: translateY(-30px);
}
.volmage__cards .card__volmage h3 {
  font-family: var(--font-family-2);
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 15px;
}
.volmage__cards .card__volmage p {
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

/*============== structure ==============================*/
.training-structure {
  position: relative;
  text-align: center;
}

.training-structure::before,
.training-structure::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #ff4db8, transparent 70%);
  z-index: 0;
}

.training-structure::before {
  bottom: 0;
  left: -200px;
}

.training-structure::after {
  top: 0;
  right: -200px;
}

.training-structure__steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  margin-top: 44px;
}

.step:nth-child(2n) {
  margin-top: 250px;
}

.step__number {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(44px, 4vw, 96px);
  line-height: 100%;
  color: #ff4db8;
  margin-bottom: 32px;
}

.step__title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 12px;
}

.step__desc {
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: clamp(14px, 4vw, 20px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.step--arrow {
  position: relative;
}

.step--arrow::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 60%;
  transform: translateY(-50%);
  width: 129px;
  height: 129px;
  background-image: url("../img/arrow-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.step--arrow-up {
  position: relative;
}

.step--arrow-up::before {
  content: "";
  position: absolute;
  right: -30px;
  top: 20%;
  transform: translateY(-69%);
  width: 129px;
  height: 129px;
  background-image: url("../img/arrow-up.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.training-structure__bonus {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.training-structure__bonus .bonus__text p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: left;
}

/*==============  ==============================*/
.formats {
  text-align: center;
  padding: 60px 20px;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.formats__title {
  color: #FF4392;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 40px;
}

.formats__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.format-card {
  border-radius: 12px;
  padding: 32px 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.format-card .format__text h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.format-card .format__text p {
  margin-bottom: 10px;
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.format-card .format__text span {
  margin-bottom: 30px;
  display: block;
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.format-card .format__btn {
  display: inline-block;
  margin-top: 40px;
  padding: 22px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  background: var(--text-color);
  color: #000;
  transition: 0.3s ease;
}
.format-card .format__btn:hover {
  background: #f0f0f0;
}

/* Цветовые стили */
.standard {
  background: #F84791;
}

.premium {
  background: url("../img/silver_bg.png") no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  color: black;
}

.vip {
  background: url("../img/gold_bg.png") no-repeat;
  color: black;
}

.formats__note {
  color: white;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 140%;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #000000;
  color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  position: relative;
  margin: 10rem auto 0;
}
.modal-content h2 {
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.form-group {
  margin: 1rem 0;
}

.form-group input {
  width: 100%;
  font-family: var(--font-family-2);
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-modal {
  width: 100%;
}

/*==============  ==============================*/
.swiper {
  width: 100%;
  height: 660px;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 97% !important;
  width: 44px;
  height: 44px;
  z-index: 20;
}

.swiper-button-next:after {
  background: url("../img/right_arrow.svg") no-repeat !important;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after {
  background: url("../img/left_arrow.svg") no-repeat !important;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-next {
  right: 40%;
}

.swiper-button-prev {
  left: 40%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
}

.swiper-pagination-bullet {
  background: var(--main-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
  width: 64px;
  height: 8px;
  border-radius: 8px;
}

/*================ footer ============================*/
/*===================================================*/
/*============== @media =============================*/
/*===================================================*/
@media (min-width: 1510px) {
  ._container {
    max-width: 1490px;
  }
  .header::after {
    right: -26%;
  }
}
@media (max-width: 959.98px) {
  .swiper-button-next {
    right: 35%;
  }
  .swiper-button-prev {
    left: 35%;
  }
  .whyvolmage__list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .whyvolmage__list li img {
    width: 16px;
  }
  .whyvolmage__list li span {
    font-size: 18px;
  }
  .volmage__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 20px;
  }
  .formats__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .button__style {
    width: 100%;
    padding: 21px;
    font-size: 14px;
  }
  .hero__body {
    grid-template-columns: 1fr;
  }
  .hero {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .hero__content {
    max-width: 100%;
    text-align: center;
    padding: 3em 0;
  }
  .button__style {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 120%;
  }
  blockquote {
    font-size: 14px;
  }
  .hero__image {
    right: -32em;
    top: -14em;
  }
  .life__body .life__list {
    gap: 44px;
    flex-direction: column;
  }
  .life::after {
    right: -59%;
  }
  .profession::after {
    width: 0;
    height: 0;
  }
  .getting__body .getting__items {
    grid-template-columns: 1fr;
  }
  .getting__body .getting__items .item__getting .getting__text {
    font-size: 18px;
  }
  .getting__body .getting__subtext {
    font-size: 18px;
  }
  .training-structure__steps {
    grid-template-columns: repeat(1, 1fr);
  }
  .step:nth-child(2n) {
    margin-top: 40px;
  }
  .step {
    margin-top: 40px;
  }
  .step--arrow::after {
    display: none;
  }
  .step--arrow-up::before {
    display: none;
  }
  .training-structure__bonus {
    flex-direction: column;
    margin-top: 70px;
  }
  .training-structure__bonus .bonus__text p {
    font-size: 18px;
    text-align: center;
  }
  .formats__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 639.98px) {
  .swiper-button-next {
    right: 30%;
  }
  .swiper-button-prev {
    left: 30%;
  }
}
@media (max-width: 479.98px) {
  .section-padding {
    padding: 3em 0;
  }
  .swiper-button-next {
    right: 10%;
  }
  .swiper-button-prev {
    left: 10%;
  }
  .hero__image {
    right: -17em;
    top: 12em;
  }
  .teaching__body .teaching__list li img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
  .tech {
    margin-left: -30px;
  }
  .tech .badge {
    font-size: 24px;
    width: 260px;
  }
  .life::after {
    right: -39%;
  }
  .life__body .life__list {
    align-items: flex-start;
  }
  .life__heading .life__subtext {
    margin-top: 15px;
  }
  .profession__list li {
    font-size: 18px;
  }
  .volmage__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px 20px;
  }
}/*# sourceMappingURL=style.css.map */