
:root {
	--font-family: "Unbounded", sans-serif;
	--font-family-2: "Montserrat", sans-serif;
	--font-size: 18px;
	--font-weight: 500;
	--bg-page: #000;
	--text-color: #fff;
	--main-color: #EE568D;
	--main-color-hover: #da4e81;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
._container  {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 10px;
}
.page {
	flex: 1 1 100%;
}

/*---------------------------------------------------------------------*/ 

.title__h1 {
	font-family: var(--font-family);
	font-weight: 900;
	font-size: clamp(26px, 4vw, 72px);
	text-transform: uppercase;
}
.title__h2 {
	font-family: var(--font-family);
	font-size: clamp(22px, 4vw, 44px);
	font-weight: 900;
}
.button__style {
	padding: 21px 32px;
	border-radius: 12px;
	// background: url('../img/button_bg.png') center no-repeat;
	background: #E3BE63;
	background: linear-gradient(134deg, rgba(227, 190, 99, 1) 0%, rgba(251, 238, 185, 1) 21%, rgba(213, 177, 93, 1) 50%, rgba(248, 233, 178, 1) 76%, rgba(221, 181, 83, 1) 100%);
	color: #000;
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 18px;
	line-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;
	&:hover {
		opacity: 0.8;
	}
}
.pink__text {
	color: var(--main-color);
}
.section-padding {
	padding: 6em 0;
}
/*---------------------------------------------------------------------*/ 

.hero {
	position: relative;
	overflow: hidden;
	padding: 4rem 2rem;
	min-height: 100vh;
}

.hero__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-family);
	padding: 3em 8em 3em 0;
	z-index: 2;
}
.hero__body {
	display: grid;
	grid-template-columns: 1fr 30%;
}

.hero h2 {
	font-weight: 900;
	font-size: clamp(20px, 2vw, 32px);
	line-height: 100%;
	margin-bottom: 12px;
	text-align: center;
}

.mentor {
	font-family: var(--font-family-2);
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	display: inline-block;
	margin-bottom: 12px;
}

.logo {
	width: 286px;
	margin: 2rem 0;
}
.tech  {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 12px;
	text-align: center;
	p {
		font-weight: 900;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		margin-bottom: 12px;
	}
	.badge {
		background-color: #f24d95;
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
		font-weight: 900;
		font-size: 32px;
		position: relative;
		margin-bottom: 12px;
		text-align: center;
		&::after {
			content: '';
			position: absolute;
			background: url('../img/gold-coin.png') no-repeat;
			top: -50%;
			width: 157px;
			height: 157px;
		}
		small {
			font-family: var(--font-family-2);
			font-weight: 600;
			font-style: italic;
			font-size: 18px;
			line-height: 100%;
			text-align: center;
			color: #fff;
		}
	}
}

blockquote {
	font-family: var(--font-family-2);
	max-width: 700px;
	background: #1e1e1e;
	font-weight: 500;
	font-style: italic;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	padding: 24px;
	border-radius: 0.8rem;
	margin: 1.5rem 0;
	border-left: 6px solid #786137;
	border-right: 6px solid #786137;
}

.hero__image {
	position: absolute;
	right: -30em;
	top: -18em;
	
}


/*============== teaching =============================*/
.teaching {
	position: relative;
	&::after {
		content:'';
		position: absolute;
		top: 0;
		left: -3em;
		width: 100%;
		height: 100%;
		background: url('../img/spot1.svg') no-repeat;
	}

}
.teaching__body {
	position: relative;
	z-index: 2;
	.teaching__list {
		margin-top: 40px;
		li {
			display: flex;
			align-items: center;
			line-height: 120%;
			font-family: var(--font-family-2);
			font-weight: 600;
			font-size: clamp(16px, 2vw, 24px);
			margin-bottom: 24px;
			img {
				width: 44px;
				height: 44px;
				margin-right: 12px;
			}
		}
	}
}


/*==============  ==============================*/



/*==============  ==============================*/


/*==============  ==============================*/

.swiper {
	width: 100%;
	height: 660px;
	position: relative;
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 97% !important;
	width: 44px;
	height: 44px;
	z-index: 20;
}
.swiper-button-next:after {
	background: url("../img/right_arrow.svg") no-repeat !important;
	font-size: 0;
	width: 100%;
	height: 100%;
}
.swiper-button-prev:after {
	background: url("../img/left_arrow.svg") no-repeat !important;
	font-size: 0;
	width: 100%;
	height: 100%;
}
.swiper-button-next {
	right: 40%;
}
.swiper-button-prev {
	left: 40%;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
}
.swiper-pagination-bullet {
	background: var(--main-color)!important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active {
	background: var(--main-color) !important;
	width: 64px;
	height: 8px;
	border-radius: 8px;
}


/*==============  ==============================*/



/*================ footer ============================*/

.footer {

	
}




/*===================================================*/
/*============== @media =============================*/
/*===================================================*/

@media (min-width:1510px) {
	._container  {
		max-width: 1490px;
	}
	.header {
		&::after {
			right: -26%;
		}
	}
}
@media (max-width:959.98px) {
	.swiper-button-next {
		right: 35%;
	}
	.swiper-button-prev {
		left: 35%;
	}

}
@media (max-width:767.98px) {
	.button__style {
		width: 100%;
		padding: 21px;
		font-size: 14px;
	}
	.hero__body {
		grid-template-columns: 1fr;
	}
	.hero {
		flex-direction: column;
		padding: 2rem 1rem;
	}
	.hero__content {
		max-width: 100%;
		text-align: center;
		padding: 3em 0;
	}
	.button__style {
		width: 100%;
		text-align: center;
		font-size: 12px;
		line-height: 120%;
	}
	blockquote {
		font-size: 14px;
	}
	.hero__image {
		right: -32em;
		top: -14em;
	}
}
@media (max-width:639.98px) {
	.swiper-button-next {
		right: 30%;
	}
	.swiper-button-prev {
		left: 30%;
	}
}
@media (max-width:479.98px) {
	.swiper-button-next {
		right: 10%;
	}
	.swiper-button-prev {
		left: 10%;
	}
	.hero__image {
        right: -17em;
        top: 12em;
    }
	.teaching__body {
		.teaching__list {
			li {
				img {
					width: 32px;
					height: 32px;
					margin-right: 12px;
				}
			}
		}
	}
	.tech {
		margin-left: -30px;
		.badge {
			font-size: 24px;
			width: 260px;
		}
	}
}